<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<div style="text-align: center;margin-bottom: 60px;font-size: 60px">主页</div>

<div style="text-align: center;font-size: 50px">当前系统: <span th:text="${system}"></span> ,默认地址为: <span th:text="${path}"></span></div>

<div style="text-align: center;font-size: 50px">暂时不支持在线阅读(懒得写)</div>
<div style="text-align: center;font-size: 50px">文件最大限制:100M</div>

</body>
</html>